services:
  db:
    image: postgres:latest
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql

  server:
    build: ./server/
    ports:
      - 8000:8000
    volumes:
      - staticfiles:/app/staticfiles
      - ./server/:/app
    env_file:
      .env
    depends_on:
      - db

  client:
    build: ./client/
    ports:
      - 3000:3000
    volumes:
      - /app/node_modules
      - ./client/:/app
    environment:
      - VITE_BASE_URL=${BASE_URL}
    depends_on:
      - server

  caddy:
    image: caddy:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - staticfiles:/var/www/staticfiles
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - server
      - client

volumes:
  postgres_data:
  staticfiles:
  caddy_data:
  caddy_config:
